html,
body {
	margin-left: 10px;
	padding:0;
	height:100%;
	}
#wrapper {
	min-height:100%;
	position:relative;
	}
#header {
	background:#ededed;
	padding:0px;
	}
#content {
	padding-bottom:90px; /* Height of the footer element */
	}
#stringy {
	padding:0px;
	/*the following statement would help the hyperlink word description in this div be wrapped around 
	https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
	*/
	word-wrap: break-word;
	}
#params {
	word-wrap: break-word;
	}
#footer {
	/*background:#ffab62;*/
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	}